.about-container {
  padding: 5rem 2rem;
  background: linear-gradient(135deg, rgb(255, 255, 255), #6593a49b);  justify-content: center;
  align-items: center;

  .about-content {
    display: flex;
    gap: 4rem;
    align-items: center;
    
    max-width: 1200px;
    width: 100%;
    animation: fadeInUp 1s ease forwards;
    opacity: 0;

    .about-text {
      flex: 1;

      h1 {
        font-size: 3rem;
        color: #222;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.8;
        color: #555;
        margin-bottom: 2rem;
      }

      .btn-cv {
        display: inline-block;
        padding: 0.9rem 2rem;
        background-color: #f1c40f;
        color: #1a1a1a;
        font-weight: bold;
        border-radius: 50px;
        text-decoration: none;
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        transition: all 0.3s;

        &:hover {
          background-color: #e1b12c;
          transform: translateY(-3px) scale(1.05);
          box-shadow: 0 12px 25px rgba(0,0,0,0.2);
        }
      }
    }

    .about-image {
      flex: 1;
      display: flex;
      justify-content: center;
      box-shadow: #222;

      img {
        width: 100%;
        max-width: 350px;
        border-radius: 50%; /* cercle parfait */
        box-shadow: 0 15px 30px rgba(0,0,0,0.2);
        transition: transform 0.4s, box-shadow 0.4s;
        &:hover {
          transform: scale(1.08) rotate(2deg);
          box-shadow: 0 20px 40px rgba(0,0,0,0.25);
        }
      }
    }
  }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 900px) {
  .about-content {
    flex-direction: column-reverse;
    text-align: center;
    gap: 2.5rem;

    .about-image img {
      max-width: 250px;
    }

    .about-text h1 {
      font-size: 2.2rem;
    }
    .about-text p {
      font-size: 1rem;
    }
    .btn-cv {
      padding: 0.8rem 1.8rem;
    }
  }
}
